{% load static %}
<link rel="stylesheet" href="{% static 'polls/detail_style.css' %}">
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <ul>
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
                {% if choice.id == old_choice.id %}
                  checked
                {% endif %}>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </ul>
        {% endfor %}
    </fieldset>
    <input type="submit" class="vote_button" value="Vote">
</form>
<form action="{% url 'polls:results' question.id %}" method="GET" >
    {% csrf_token %}
    <input type="submit" class="Views" value="Views results" >
</form>
<a href="{% url 'polls:index' %}">Go back to list of poll</a>

