body{
    background: white url(images/result-background.jpg);
    background-size: contain;
    background-position: center;
}   
h1{
    text-align: center;
    color: rgb(12, 39, 31);
    font-family:"Courier New";
    font-style:oblique;
    font-size: 38px;
    border: 2px solid rgb(13, 53, 53); 
    width: 200px;
    background-color: rgb(238, 255, 179);
    margin-left: 5vw;
    margin-top: 20px;
}
h2{
    color: rgb(12, 39, 31);
    font-family:"Courier New";
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 20px;
}
table{
    margin-left: 2vw;
    margin-top: 10px;
    font-family:cursive;
    border: 2px solid rgb(13, 53, 53);
}
th,td{
    border: 2px solid rgb(13, 53, 53);
    width: 200px;
    text-align: center;
}
a{
    margin-left: 5vw;
    margin-top: 10px;
    font-family:cursive;
}