.welcome{
    color: aliceblue;
    position: absolute;
    top: 10px;
}
h2{
    font-family:cursive;
    font-size: 18px;
    position:relative;
    top: 85px;
    left: 10%;
    text-align: center;
    border: 2px solid rgb(13, 53, 53); 
    width: 80%;
    z-index: 1;
    
}
a{
    color: rgb(20, 70, 50);
    font-family: cursive;
}
.question {
    border: 2px solid rgb(20, 70, 50);
    background-color: rgb(148, 255, 171);
    width: auto;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(17, 193, 146);
    margin-top: 10px;;
    position: relative;
    top: 15px;
    left: -20px;
}
.Views{
    margin-left: 80%;
    position: absolute;
    top: 10px;
}


#questionlist{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    width: 80%;
    background-color:rgb(238, 255, 179); ;
    background-size:contain;
    position: absolute;
    top: 87px;
    left: 10vw;
    border: 2px solid rgb(13, 53, 53); 

    

}
h1{
    text-align: center;
    color: rgb(12, 39, 31);
    font-family:"Courier New";
    font-style:oblique;
    font-size: 38px;
    border: 2px solid rgb(13, 53, 53); 
    width: 200px;
    background-color: rgb(238, 255, 179);
    position: absolute;
    left: 10%;
}
body{
    background: white url("images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
}



